.feature {
	display: flex;
	align-items: start;
	gap: 20px;
	width: 300px;
}

.feature h4 {
	margin: 0;
	font-size: 21px;
}

.feature p {
	color: #6f7880;
	font-size: 18px;
	font-weight: 600;
}
.feature i {
	font-size: 55px;
	color: #2e86fd;
}
