header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
	color: #343f44;
	font-size: 28px;
}
.logo i {
	color: #2e86fd;
	font-size: 42px;
}
.menu {
	flex-grow: 2;
	color: #343f44;
	margin-left: 100px;
}
.menu ul {
	list-style-type: none;
	display: flex;
}

.menu li {
	margin-right: 30px;
	font-weight: 600;
}
.outline-button {
	padding: 10px 20px;
	background-color: transparent;
	border: solid 2px #2e86fd;
	color: #2e86fd;
	font-weight: bold;
}
